.page-user-profile-update {
    
    h3 {
        margin: 2.4rem 0 1.7rem;
    }

    input[type="text"], textarea {
            width: 100%;
    }
    input[type="checkbox"] {
        margin-right: 6px;
    }

}