.splash_slider--item-text {
    position: absolute;
    padding: 4px 20px;
    margin: 25px 39px;
    top: 0;
    right: 0;
    color: white;
    max-width: 20rem;
    font-size: 3rem;
    line-height: 4rem;
    text-align: right;
    background-color: rgba(101,101,101,0.42);
    box-shadow: -2px 2px 10px 6px rgba(101,101,101,0.42);
    font-weight: 600;
}
